
      		div.h4   {font-size:1.2em;font-style:oblique;}
			    div.nen  {margin-top:1em;margin-left:auto;margin-right:auto;}
          div.part {display:block;margin-left:-1em;font-size:1.1em;font-weight:bold;width:auto;}
          div.vcl  {display:block;margin-top:0.5em;width:auto;}
      		h4       {margin:1em 0 1em 1em;font-size:150%;font-style:oblique;}
          li       {margin-left:0;}
      		audio    {height:24px;}
          div.words {width:250px;
                       margin-top : 2.5em; 
                       margin-left: auto; margin-right: auto;
                       /*border: solid 1px #0000ff; */
                      }
      		div.link {margin-left:2em;margin-top:2em; }
      		p {line-height: 1.0;}
          div.textarea {
                    margin-left:1em;
          }
          textarea {
                    font-size:90%;
                    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
                  }
          label {
                    display: block;
                    width: 15em;
                    font-size: 80%;
                }
      		@media screen and (min-width: 700px){
              h4       {margin-bottom: 1em;}
              li       {margin-left:1em;margin-bottom:2em;}
              li div   {display:inline-block;vertical-align:middle;width:6em;}
              div.words {position: absolute;
                          top:1em;
                          right:1em; 
                        }
              div.textarea {margin-left:0em;}
      		}
            @media screen and (min-width: 830px){
              h4        {margin-bottom: 2em;}
              li        {margin-left:2em;}
              div.words {right:4em;}
              div.textarea {margin-left:1em;}
            }
            @media screen and (min-width: 1000px){
              div.body {width: 830px;
                        margin-left: auto; margin-right: auto;
                       }
              div.words {right:10em;}
              div.textarea {margin-left:3em;}
            }